<%= render partial: 'components/header' %>
<div class="width_header">
  <h1>Index global</h1>
  <h3>Locale: <%= I18n.locale %></h3>
  <%= render partial: 'pages/index/block_2' %>
  <%= render partial: 'pages/index/block_1' %>
</div>
