<%= render partial: 'components/header' %>
<div class="width_header">
  <h1>Locale: <%= I18n.locale %></h1>
  <h3>Index ES</h3>
  <%= render partial: 'pages/index/block_1' %>
  <%= render partial: 'pages/index/block_2' %>
</div>
